section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  border-radius: 1rem;
  width: 100%;
  color: var(--light-bg);
  padding: 2rem;
  margin: 0 2rem;
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

h3 {
  font-size: 1.6rem;
  margin: 0 0 1rem;
  text-align: center;
}

input {
  outline: none;
  border: none;
  width: 100%;
  border-bottom: 0.2rem solid var(--light-bg);
  background-color: var(--light-bg);
  color: var(--dark-text);
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
}

button {
  color: var(--light-bg);
  background-color: transparent;
  border-radius: 1rem;
  border: 0.2rem solid var(--light-green);
  white-space: nowrap;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.form-question {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

@media screen and (min-width: 600px) {
  .login {
    width: 65%;
    max-width: 50rem;
    height: fit-content;
  }
}